
.presentationprojet1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.presentationprojet1 .flex-row {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.presentationprojet1 .flex-row figure {
    width: 100%;
    max-width: 400px; 
    margin: 0 auto;
}


.presentationprojet1 .flex-row video{
    width: 100%;
    height: auto;     
    display: block;
    border-radius: 10px;
}
.presentationprojet1 .flex-row audio {
        width: 100%;
    }

@media (max-width: 600px) {

    .presentationprojet1 .flex-row {
        flex-direction: column;
        align-items: center;
    }

    .presentationprojet1 .flex-row figure {
        max-width: 300px; 
        width: 100%;
    }

    .presentationprojet1 .flex-row video {
        width: 100%;
        height: auto;
    }
    .presentationprojet1 .flex-row audio {
        width: 100%;
    }
}
