/* 
   GALERIE ET FIGURES
   */

.presentationprojet {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 600px) {
  
    .presentationprojet .flex-row {
        display: block;
        gap: 0;
    }

    .presentationprojet .flex-row figure {
        width: 100%;
        max-width: none;
        margin-bottom: 16px;
    }

    .presentationprojet .flex-row video,
    .presentationprojet .flex-row audio {
        width: 100%;
        height: auto;
    }
}