table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            text-align: center;
            font-size: 16px;
            
}

table th,table td {
    padding: 10px;
    border: 1px solid var(--couleur-primaire);
    transition: all 0.3s ease;
}

table td:hover ,table th:hover{
    background: linear-gradient(160deg,#f4f4f4,var(--couleur-primaire));
    cursor: pointer;
    transform: scale(1.01);
}

@media (max-width: 600px) {
    table th, table td {
        border: 1px solid var(--bleu);
    }

    table td:hover, table th:hover {
        background: linear-gradient(160deg,#f4f4f4,var(--bleu));
    }

    /* Rendre la table défilable horizontalement sur mobile normalement ça le mettra en scroll voir MDN */
    .parcours {
        overflow-x: auto;
    }

    .parcours table {
        width: 100%;
        min-width: 600px;
    }
}


