table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            text-align: center;
            font-size: 16px;
            
}

table th,table td {
    padding: 10px;
    border: 1px solid #27ae60;
    transition: all 0.3s ease;
}

table td:hover ,table th:hover{
    background: linear-gradient(160deg,#f4f4f4,#27ae60);
    cursor: pointer; /* 
   Teste si le curseur change en pointeur pour indiquer un élément cliquable
  */
    transform: scale(1.01);
}


