/* Media queries permet d'adapter les formats paysage ou autres sur téléphone  */
/* Ecran PC>= 901 px */
@media (min-width:901px){
body{
        background-color: white ;
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
}
/* Ecran Tablette >= 601 px et <= 900 px */
@media (min-width:601px) and (max-width:900px){
    body{
        background-color: blue ;

    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
/* Ecran Tablette <= 600 px  */
@media (max-width:600px) {
    body{
        background-color: green ;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
}
.bloc{
    background-color: orange;
    width: 40%;
    padding: 1%;
    margin: 2%;
}

@media(prefers-color-scheme: dark){

}
/* En paysage */
@media(orientation: landscape){

}
/* En portrait */
@media(orientation: portrait){
    
}

/* * {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .bloc{
    width: 45vw;
    height: 30vh;
    background-color: orange;
    margin: 1%;
    padding: 2%;
} */
 /*h1{
    font-size: 4vw;

}
p {
    font-size: 2vw;
}
/* Le % est relatif aux parents mais le vw ( viewport width ?) , vh (viewport height) est relatif à lui même */

/*img {
    max-width: 30%;
    border-radius: 15px;
} */

/* Media queries permet d'adapter les formats paysage ou autres sur téléphone  */