body {
    background-color: var(--couleur-fond);
    color: var(--couleur-texte);
    font-family: var(--padding-section);
    padding: var(--padding-section);
    
}

h1{
    font-family: var(--font-titre);
    color: var(--couleur-primaire);
}
button{
    background-color: var(--couleur-secondaire);
    color: var(--couleur-fond);
}