/* Media queries permet d'adapter les formats paysage ou autres sur téléphone  */
/* Ecran PC>= 901 px */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
@media (min-width:901px){
    body{
        display: flex;
        background-color: orange ;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin:0 auto;
        padding: 0 auto;
        
    }
    button {
        width: 10vw;
        background-color: orange;
        color: white;
        border: 2px solid orange;
        padding: 10px;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
        
    }
    }
    .container2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: start;
    }
    .container3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section{
        margin: 0 auto;
        display: flex;
        background: #fff;
        padding: 40px;
        border-radius: 12px;
        border: 2px solid transparent;
        margin-bottom: 30px;
        max-width: 50%;
        max-height: 50%;
        justify-content: center;
        align-items: center;
        flex-direction: start;
        

        
    }

    h1{
        font-size: 4vw;
        color: orange;

    }
    p{
        font-size: 2vw;
    }
    img{
        border-radius: 50%;
        max-width: 20%;

    }
    

/* Ecran Tablette >= 601 px et <= 900 px */

/* Ecran Tablette <= 600 px  */

@media (max-width:600px) {
    body{
        display: flex;
        background-color: green ;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 30vh;

    }
    button {
        width: 50vw;
        background-color: green;
        color: white;
        
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
    }
    .container2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section{
        margin: 30px auto;
        display: flex;
        background: #fff;
        padding: 40px;
        border-radius: 12px;
        border: 2px solid transparent;
        margin-bottom: 30px;
        max-width: 50%;
        max-height: 50%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        

        
    }

    h1{
        font-size: 4vw;
        color: green;

    }
    p{
        font-size: 2vw;
    }
    img{
        border-radius: 50%;
        max-width: 20%;
    }    
}
   







/* En portrait */
@media(orientation: portrait){
    body{
        display: flex;
        background-color: green ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 80vh;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        

    }
    button {
        width: 30vw;
        background-color: green;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
    }
    
    
    .container2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section{
        margin: 0 auto;
        display: flex;
        background: #fff;
        padding: 0;
        border-radius: 12px;
        border: 2px solid transparent;
        margin-bottom: 30px;
        max-width: 100%;
        max-height: 50%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    

        
    }

    h1{
        font-size: 4vw;
        color: green;

    }
    p{
        font-size: 2vw;
    }
    img{
        border-radius: 50%;
        max-width: 20%;
    }
}

/* * {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .bloc{
    width: 45vw;
    height: 30vh;
    background-color: orange;
    margin: 1%;
    padding: 2%;
} */
 /*h1{
    font-size: 4vw;

}
p {
    font-size: 2vw;
}
/* Le % est relatif aux parents mais le vw ( viewport width ?) , vh (viewport height) est relatif à lui même */

/*img {
    max-width: 30%;
    border-radius: 15px;
} */

/* Media queries permet d'adapter les formats paysage ou autres sur téléphone  */