.grille{
    display: grid;
    height: 500px;
    /* grid-template-columns: repeat(3, 100px);*/
    /*grid-template-columns: 100px 80px 50px;*/  /* 
   BLoc
   */
   grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;  
    
    
    

}
.grille div {
    display: grid;
    background-color: rgb(221, 164, 57);
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    
    }

.bloc1{
    grid-column: 1  ;
    grid-row: 1 / span 4;
    align-items: center;
    justify-content: center;
    align-content: center; 
}
.bloc2{
    grid-column: 4;
    grid-row: 1 / span 4;
    align-items: center;
    justify-content: center;
    align-content: center; 
}

.bloc3{
    grid-column: 2 /span 2 ;
    grid-row: 1 ;
}
.bloc4{
    grid-column: 2  ;
    grid-row: 2 ;
}
.bloc5{
    grid-column: 2  ;
    grid-row: 3 ;
}
.bloc6{
    grid-column: 3  ;
    grid-row: 2/span 2 ;
}

.bloc7{
    grid-column: 2/ span 2 ;
    grid-row: 4 ;
}


.bloc{
    grid-column: 3 ;
    grid-row: 1 / span 2 ;
}
