.grille{
    display: grid;
    height: 500px;
    /* grid-template-columns: repeat(3, 100px);*/
    /*grid-template-columns: 100px 80px 50px;*/  /* 
   BLoc
   */
   /* grid-template-columns: 1fr 2fr 1fr; */
    grid-template-columns: repeat(5,50px);
    grid-template-rows: repeat(9,50px);
    gap: 10px;
    justify-content: center;  
    align-content: center; 
    grid-template-areas: 
    "B1 B2 B2 B5 B7"
    "B1 B2 B2 B5 B7"
    "B1 B3 B3 B5 B7"
    "B1 B3 B3 B5 B7"
    "B1 B4 B4 B6 B7"
    "B8 B8 B8 B6 B7"
    "B8 B8 B8 B6 B7"
    "B9 B9 B9 B9 B7"
    "B9 B9 B9 B9 B7"
    ; 
}

.B1 {
    grid-area: B1;
}
.B2 {
    grid-area :B2;
}
.B3 {
    grid-area :B3;
}
.B4 {
    grid-area :B4;
}
.B5 {
    grid-area :B5;
}
.B6 {
    grid-area :B6;
}
.B7 {
    grid-area :B7;
}
.B8 {
    grid-area :B8;
}
.B9 {
    grid-area :B9;
}

.grille div {
    display: grid;
    background-color: rgb(221, 164, 57);
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    
    }

.bloc1{
    grid-column: 3 ;
    grid-row: 3;
}
.bloc2{
    grid-column: 1 / span 2 ;  /* Pour utiliser 2 places*/
    grid-row: 2;
}
.bloc3{
    grid-column: 3 ;
    grid-row: 1 / span 2 ;
}
