section{
    height: 800px;
    width: 100%;
    justify-content:column;
    
}
.bloc_15_100{
    width: 15%;
    height: 100px;
    background-color: orange;
    color: white;
    justify-content: center;
    align-items: center;
    
}

.bloc_70_100{
    width: 70%;
    height: 100px;
    background-color: orange;
    color: white;
    justify-content: center;
    align-items: center;
    
}
.bloc_20_225{
    display: flex;
    width: 100%;
    height: 225px;
    background-color: orange;
    color: white;
    justify-content: center;
    align-items: center;
    
}

.bloc_60_600{
    width: 60%;
    height: 600px;
    background-color: orange;
    color: white;
    justify-content: center;
    align-items: center;
    
}
.bloc_60_100{
    width: 60%;
    height: 100px;
    background-color: orange;
    color: white;
    justify-content: center;
    align-items: center;
    
}
.bloc_30_100{
    width: 60%;
    height: 100px;
    background-color: orange;
    color: white;
    justify-content: center;
    align-items: center;
    
}
.bloc_20_600{
    width: 20%;
    height: 600px;
    background-color: orange;
    color: white;
    justify-content: center;
    align-items: center;
    
}
/* .body{
    display:flex;
    width: 100%;
    height: 800px;
    border: 3px solid #111;
    justify-content:column;
    align-items: center;
} */
body header{
    display:flex;
    border: 3px solid #111;
    justify-content:row;
    gap:10px
}
body main{
    width: 100%;
    display:flex;
    border: 3px solid #111;
    justify-content:row;
    gap:10px

}

body footer{
    display:flex;
    border: 3px solid #111;
    justify-content:row;
    gap: 10px;
}
.special{
    width: 20%;
    height: 100%;
    border: 3px solid #111;
    justify-content: column;
    gap:10px

}

article{
    display: flex;
    border: 3px solid #111;

}